include *.txt
recursive-include docs *.txt
include src/floyds/doc/*
include src/floyds/standard/*
include src/floyds/standard/*/*
include src/floyds/archive/*
include src/floyds/archive/*/*
include src/floyds/archive/*/*/*
include src/floyds/archive/*/*/*/*
include src/floyds/archive/*/*/*/*/*
include src/floyds/archive/*/*/*/*/*/*
include src/floyds/archive/*/*/*/*/*/*/*
#include MANI*
